asgiref==3.2.10
Django==3.1.2
django-bootstrap-datepicker-plus==3.0.5
django-crispy-forms==1.9.2
django-excel==0.0.10
django-filter==2.4.0
django-model-utils==4.0.0
django-tempus-dominus==5.1.2.13
django-widget-tweaks==1.4.8
lml==0.1.0
model-bakery==1.2.0
Pillow==8.0.0
pyexcel==0.6.5
pyexcel-io==0.6.3
pyexcel-webio==0.1.4
pytz==2020.1
sqlparse==0.4.1
texttable==1.6.3
