{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">
        Company
    </div>

    <div class="card-body">

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Active?</th>
                </tr>
            </thead>
            <tbody>
                {% for e in company %}
                <tr>
                    <th scope="row">{{ e.id }}</th>
                    <td>{{ e.name }}</td>
                    <td>{{ e.status }}</td>
                    <td>
                        <a tooltip="Delete" role="button" href="{% url 'company-update' e.id %}"
                            class="btn btn-outline-secondary btn-sm"> <i class="fas fa-user-edit"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'company-delete' e.id  %}"><i
                                class="fas fa-user-minus"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center bg-warning">No records</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">{% include 'payroll/_partial.html' %} </div>
</div>

{% endblock content %}