{% extends "payroll/base_.html" %}

{% block content %}



<div class="card-deck">
    <div class="card">
        <div style="text-align:center" class="card-body ">
            <h1> <i class="fas fa-users"></i> {{ employees }}</h1>
            <h5>Employees</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted"> <a href="{% url 'employee-list' %}">More
                    info &rarr;</a></small>
        </div>
    </div>
    <div style="text-align:center" class="card">
        <div style="text-align:center" class="card-body ">
            <h1> <i class="fas fa-users"></i> {{ departments }}</h1>
            <h5>Departments</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted"> <a href="{% url 'department-list' %}">More
                    info &rarr;</a></small>
        </div>
    </div>
    <div style="text-align:center" class="card">
        <div style="text-align:center" class="card-body ">
            <h1> <i class="fas fa-users"></i> {{ companies }}</h1>
            <h5>Companies</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted"> <a href="{% url 'company-list' %}">More
                    info &rarr;</a></small>
        </div>
    </div>

    <div style="text-align:center" class="card">
        <div style="text-align:center" class="card-body ">
            <h1> <i class="fas fa-users"></i> {{ employees }}</h1>
            <h5>Departments</h5>
        </div>
        <div class="card-footer">
            <small class="text-muted"> <a href="{% url 'employee-list' %}">More
                    info &rarr;</a></small>
        </div>
    </div>
</div>
<!-- 
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <i class="fas fa-users"></i> {{ employees }}
            <p>Employees</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"> <a href="{% url 'employee-list' %}">More
                    info &rarr;</a></small>
        </div>
    </div>
    <div class="card">
       
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><a href="{% url 'employee-list' %}">More
                    info &rarr;</a></small>
        </div>
    </div>
    <div class="card">
       
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div> -->

{% endblock content %}