{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card mt-1">
    <div class="card-header">
        <h5> Department</h5>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form |crispy }}
            <button class="btn btn-outline-info mr-auto" type="submit">{{ button }}</button>


        </form>
    </div>
    <div class="card-footer">
        &larr; <a href="{% url 'department-list' %}"> Go to list..</a>
    </div>

</div>

{% endblock content %}