{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header">
        Earning Types
    </div>

    <div class="card-body">

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Earning Type</th>
                    <th scope="col">Taxable?</th>
                </tr>
            </thead>
            <tbody>
                {% for e in object_list %}
                <tr>
                    <th scope="row">{{ e.id }}</th>
                    <td>{{ e.name }}</td>
                    <td>{{ e.taxable }}</td>

                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="card-footer">
    <p>footer</p>
</div>
{% endblock content %}