{% extends 'payroll/base_.html' %}
<!-- {% load crispy_forms_tags %} -->
{% load widget_tweaks %}
{% block content %}

<!-- {{ emp_filter }} -->
<div class="card mt-0">
    <div class="card-header">
        <div>
            <h4>Employees</h4>
            <form action="{% url 'employee-list' %}" method="get">
                {% render_field emp_filter.form.as_p %}
                <button class="btn btn-outline-info btn-sm" type="submit">
                    <i class="fas fa-search">
                        </class></i>
                </button>
            </form>
        </div>


        <div class="btn-toolbar col-md-4" role="group">
            <div class="btn-group mr-2 " role="group" aria-label="First group">

                <a href=" {% url 'employee-upload'  %}" role="button"
                    class="btn btn-outline-secondary btn-sm mr-3 pb-0"><i class="fas fa-upload"></i></a>

                <a href=" {% url 'employee-create'  %}" role="button"
                    class="btn btn-outline-info btn-sm mr-2 pb-0 mb-0"><i class="fas fa-plus"></i></a>

            </div>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Department</th>
                    <th scope="col">Job Title</th>
                    <th scope="col"> Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in object_list %}
                <tr>
                    <th scope="row">{{ employee.employee_number }}</th>
                    <td class="list" style="text-decoration:underline; color: blue"><a
                            href="{% url 'employee-detail' employee.id %}">{{ employee.full_name }}</a> </td>
                    <td>{{ employee.rate }}</td>
                    <td>{{ employee.department.name }}</td>
                    <td>{{ employee.job_title.name }}</td>
                    {% if employee.is_active %}
                    <td><span class="badge badge-pill badge-success">active</span></td>
                    <!-- <td> {{ employee.is_active }}</td> -->
                    {% else %}
                    <td><span class="badge badge-pill badge-danger">inactive</span></td>
                    <!-- <td> {{ employee.is_active }}</td> -->
                    {% endif %}


                    <td><a tooltip="Delete" role="button" href="{% url 'employee-update' employee.id %}"
                            class="btn btn-outline-secondary btn-sm"> <i class="fas fa-user-edit"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'employee-delete' employee.id  %}"><i
                                class="fas fa-user-minus"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>





    </div>
    <div class="card-footer pb-0">
        <ul class="pagination justify-content-center pt-1">
            {% if is_paginated %}
            {% if page_obj.has_previous  %}
            <li class="page-item mr-1"><a class="btn btn-outline-info mb-4 btn-sm" href="?page=1">First</a></li>
            <li class="page-item mr-1"><a class="btn btn-outline-info mb-4 btn-sm"
                    href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item mr-1"><a class="btn btn-info mb-4 btn-sm" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
            <li class="page-item mr-1"><a class="btn btn-outline-info mb-4 btn-sm" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item mr-1"><a class="btn btn-outline-info mb-4 btn-sm"
                    href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item mr-1"><a class="btn btn-outline-info mb-4 btn-sm"
                    href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</div>

{% endblock content %}