{% extends 'payroll/base_.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<form action="" method="POST" id="container">
    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h5> {{ title }}</h5>

        </div>
        <div class="card-body">
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        {{ form.title |as_crispy_field }}
                    </div>
                    <div class="col-md-5">
                        {{ form.first_name |as_crispy_field }}
                    </div>
                    <div class="col-md-5">
                        {{ form.last_name |as_crispy_field }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ form.employee_number|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.nis|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.trn|as_crispy_field }}
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form.department |as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        {{ form.job_title |as_crispy_field }}
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-3">
                        {{ form.payment|as_crispy_field }}
                    </div>
                    <div class="col-md-5">
                        {{ form.bank|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.bank_account|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.rate|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.payment_schedule|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.basic_pay|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.employment_date|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.is_active|as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        {{ form.departure_date|as_crispy_field }}
                    </div>
                </div>


            </fieldset>
            <div class="form-group">
                <!-- <button class="btn btn-outline-info" type="reset"><i class="fas fa-user-edit"></i>Cancel</button> -->
                <button class="btn btn-outline-info justify-content-right" type="submit">{{ button }}</button>
            </div>
</form>
</div>
<div class="card-footer">
    <a href="{% url 'employee-list'  %}">&larr; Go back</a>
</div>
</div>
{% endblock content %}