{% extends 'payroll/base_.html' %}
<!-- {% load crispy_forms_tags %} -->

{% block content %}
<form action="" method="POST" id="container">
    {% csrf_token %}

    <div class="card">
        <div class="card-header">
            <h5> {{ title }}</h5>

        </div>
        <div class="card-body">
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        {{ form.title |as_crispy_field }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info justify-content-right" type="submit">{{ button }}</button>
            </div>
</form>
</div>
<div class="card-footer">
    <a href="{% url 'employee-list'  %}">&larr; Go back</a>
</div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'payroll/js/datepicker.min.js' %}"></script>
{% endblock %}