{% extends 'payroll/base_.html' %}
{% block content %}




<div class="card mt-0">
    <!-- <div class="card-header">

        <div class="btn-group" role="group" aria-label="First_group">

            <a href=" {% url 'employee-upload'  %}" role="button" class="btn btn-outline-secondary btn-sm"><i
                    class="fas fa-upload"></i></a>

            <a href=" {% url 'employee-create'  %}" role="button" class="btn btn-outline-info btn-sm"><i
                    class="fas fa-plus"></i></a>


        </div>
    </div> -->

    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <!-- <h3 class="w-75 p-3">{{categorie.name}}</h3> -->
            </div>
            <div class="col-md-2 float-right">
                <a href=" {% url 'employee-upload'  %}" role="button" class="btn btn-outline-secondary btn-sm"><i
                        class="fas fa-upload"></i></a>

                <a href=" {% url 'employee-create'  %}" class="btn btn-outline-info btn-sm"><i
                        class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Emp #</th>
                    <th scope="col">Name</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Department</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in object_list %}
                <tr>
                    <th scope="row">{{ employee.id }}</th>
                    <td>{{ employee.employee_number }}</td>
                    <td class="list" style="text-decoration:underline; color: blue"><a
                            href="{% url 'employee-detail' employee.id %}">{{ employee.full_name }}</a> </td>
                    <td>{{ employee.rate }}</td>
                    <td>{{ employee.department.name }}</td>
                    <td>{{ employee.job_title.name }}</td>
                    {% if employee.is_active %}
                    <td><span class="badge badge-pill badge-success">active</span></td>

                    {% else %}
                    <td><span class="badge badge-pill badge-danger">inactive</span></td>

                    {% endif %}


                    <td><a tooltip="Delete" role="button" href="{% url 'employee-update' employee.id %}"
                            class="btn btn-outline-secondary btn-sm"> <i class="fas fa-user-edit"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'employee-delete' employee.id  %}"><i
                                class="fas fa-user-minus"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">{% include 'payroll/_partial.html' %} </div>
</div>

{% endblock content %}