{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if  messages %}
{% for message in messages %}
<div>
    <strong>{{ message|safe }}</strong>
</div>
{% endfor %}
{{ prompt }}
{% else %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="form-label" for=""> Upload a file </label>
    <input class="form-control" type="file" name="file" id="file">
    <small>Only accepts csv files. </small>
    <button class="btn btn-outline-info" type="submit">Upload</button>
</form>
<!-- <a href="{% url 'employee-list'  %}">&larr; Go back</a> -->
{% endif %}

{% endblock content %}