{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}
{% block content %}



<div class="card mt-0">
    <div class="card-header">
        <div>
            <h4>Timesheet</h4>


        </div>
        <div class="btn-toolbar col-md-4" role="group">
            <div class="btn-group mr-2 " role="group" aria-label="First group">


            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive-sm"></div>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Emp #</th>
                    <th scope="col">Name</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Salary</th>
                    <th scope="col">NHT</th>
                    <th scope="col">NIS</th>
                    <th scope="col">ED TAX</th>
                    <th scope="col">Income Tax</th>
                    <th scope="col">Net Pay</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>

                {% for sal in object_list %}
                <tr>
                    <th scope="row">{{ sal.id }}</th>
                    <td>{{ sal.employee.employee_number }}</td>
                    <td scope="row">{{ sal.employee.full_name }}</td>
                    <td> {{ sal.hours_worked }}</td>
                    <td> {{ sal.rate }}</td>
                    <td>{{ sal.calculate_base_salary|floatformat }}</td>
                    <td> {{ sal.calculate_nht|floatformat }}</td>
                    <td> {{ sal.calculate_nis|floatformat }}</td>
                    <td> {{ sal.calculate_ed_tax|floatformat }}</td>
                    <td>{{ sal.calculate_income_tax|floatformat}}</td>
                    <td>{{ sal.calculate_net_pay|floatformat}}</td>
                    <td>
                        <a tooltip="Delete" href="{% url 'salary-update' sal.id %}"
                            class="btn btn-outline-secondary btn-sm"> <i class="fas fa-user-edit"></i>
                        </a>

                    </td>
    </div>

    </tr>
    {% empty %}
    <tr>
        <td colspan="12" class="text-center bg-warning">No records</td>
    </tr>

    {% endfor %}

    </tbody>
    </table>
</div>
</div>
<div class="card-footer">{% include 'payroll/_partial.html' %} </div>
</div>
{% endblock content %}