{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}
{{ form | as_crispy_errors:"bootstrap" }}
{% block content %}

<script>
    calcSalary = (hours, entry = 286.6, holiday) => {
        total = hours * entry;
        document.getElementById("id_salary").value = total.toFixed(2);
        document.getElementById("id_total_salary").value = total + Number(holiday);

    }


    function calculate() {
        let salary = document.getElementById("id_hours_worked").value;
        let holiday = document.getElementById("id_holiday_pay").value;
        calcSalary(salary, 286.6, holiday)

    }
</script>

<form action="" method="POST" id="container">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.employee.id }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Salary</legend>
        <div class="row">
            <div class="col-md-12">
                {{ form.employee|as_crispy_field }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.hours_worked|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.rate|as_crispy_field }}
            </div>
        </div>




    </fieldset>
    <div class="form-group">

        <!-- <button class="btn btn-outline-info" type="reset">Cancel</button> -->
        <button class="btn btn-outline-info justify-content-right" type="submit">Submit</button>
    </div>
</form>

{% endblock content %}