{% extends "payroll/base_.html" %}
{% load crispy_forms_tags %}

{% block content %}



<script>
    function calculate() {
        let date_now = new Date(document.getElementById("id_date_time_from").value);
        let date_future = new Date(document.getElementById("id_date_time_to").value);


        function timeDiffCalc(dateFuture, dateNow) {
            let diffInMilliSeconds = Math.abs(dateFuture - dateNow) / 1000;

            // calculate days
            //const days = Math.floor(diffInMilliSeconds / 86400);
            //diffInMilliSeconds -= days * 86400;
            //console.log('calculated days', days);

            // calculate hours
            const hours = Math.floor(diffInMilliSeconds / 3600) % 24;
            diffInMilliSeconds -= hours * 3600;
            console.log('calculated hours', hours);

            // calculate minutes
            //const minutes = Math.floor(diffInMilliSeconds / 60) % 60;
            //diffInMilliSeconds -= minutes * 60;
            //console.log('minutes', minutes);

            let difference = '';
            if (days > 0) {
                difference += (days === 1) ? `${days} day, ` : `${days} days, `;
            }

            difference += (hours === 0 || hours === 1) ? `${hours} hour, ` : `${hours} hours, `;

            //difference += (minutes === 0 || hours === 1) ? `${minutes} minutes` : `${minutes} minutes`;
            //document.getElementById("div_id_hours_worked").value = difference;
            return difference;

            //div_id_hours_worked

        }
        //document.getElementById("div_id_hours_worked").value = timeDiffCalc(date_future, date_now);
        console.log(timeDiffCalc(date_future, date_now));



    }
</script>
<div class="card mt-1">
    <div class="card-header">
        <h5> Timesheet </h5>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <!-- {{ form |crispy }} -->

            {{ form.employee |as_crispy_field }}
            {{ form.date_time_from |as_crispy_field }}
            {{ form.date_time_to |as_crispy_field }}

            <button class="btn btn-outline-info mr-auto" type="submit">Submit</button>
        </form>
    </div>

</div>

{% endblock content %}


{