{% extends "payroll/base_.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="card">
      <div class="card-header">
          <div class="card-body">
           <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
               <table class="table">
               {{ times.label }}

               {% for form in times %}
               {% if forloop.first %}
               <thead>
                   <tr>
                       {% for field in form.visible_fields %}
                       <th> {{ field.label | capfirst}}</th>
                       {% endfor %}
                   </tr>
               </thead>

               {% endif %}
               <tr class="{% cycle 'row1' 'row2' 'row3' %} formset_row ">
                   {% for field in form.visible_fields %}
                   <td>
                       {% if forloop.first %}
                        {% for hidden in form.fidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                       {% endif %}
                       {{ field.errors.as_ul }}
                       {{ field }}
                   </td>
                   {% endfor %}

               </tr>
               {% endfor %}
            </table>
            <input type="submit" value="Save">
           </form>
          </div>
      </div>
  </div>
 
  {% block javascript %}
  
  <script type="text/javascript">
    $(document).ready(function(){

        $('.formset_row').formset({
            addText: 'add record',
            deleteText: 'remove',
            prefix: 'timesheetdetail_set'
        });

    }); 
      
  </script>
  {% endblock javascript %}
{% endblock content %}